@charset 'utf-8';

/* desktop global css */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'メイリオ', Meiryo, 'Meiryo UI', 'Arial', sans-serif;
  font-size: 16px;
  background: linear-gradient(to top, rgba(233, 226, 233, 0.5) 0%, rgba(166, 183, 185, 0.5) 100%),
    url(images/background-brick-bricks-220182.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* nav css */
.nav-wrapper {
  width: 100%;
  background-color: rgba(49, 46, 46, 0.6);
  display: grid;
  grid-template-columns: 35% auto;
  color: #fff;
}

.logo {
  font-size: 1.5rem;
  margin: auto;
  text-align: center;
}

.burger-icon {
  display: none;
  font-size: 1rem;
}

/* @flexにて、ナビメニュレイアウト@ */
.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.nav-wrapper a {
  font-size: 1rem;
  display: inline-block;
  letter-spacing: .1rem;
  text-decoration: none;
  color: #fff;
  transition: all .4s;
  border-bottom: 2px solid rgb(248, 244, 244);
  position: relative;
  overflow: hidden;
  font-weight: 900;
  width: 100%;
}

/* @模擬要素挿入@ */
.nav-wrapper li a::before {
  position: absolute;
  top: 0%;
  left: -150px;
  transition: all .2s;
  color: #fff;
}

.nav-wrapper li:nth-child(1) a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f015ホーム";
}

.nav-wrapper li:nth-child(2) a::before {
  font-family: "Font Awesome 5 Free";
  content: "　\f562サービス";
}

.nav-wrapper li:nth-child(3) a::before {
  font-family: "Font Awesome 5 Free";
  content: "　\f0c0会社概要";
}

.nav-wrapper li:nth-child(4) a::before {
  font-family: "Font Awesome 5 Free";
  content: "　\f5a0アドレス";
}

.nav-wrapper li:nth-child(5) a::before {
  font-family: "Font Awesome 5 Free";
  content: "お問い合わせ";
}

.nav-wrapper a:hover {
  color: rgba(49, 46, 46, 0.1);
}

.nav-wrapper li:nth-child(1) a:hover::before,
.nav-wrapper li:nth-child(2) a:hover::before,
.nav-wrapper li:nth-child(3) a:hover::before,
.nav-wrapper li:nth-child(4) a:hover::before,
.nav-wrapper li:nth-child(5) a:hover::before {
  left: 0;
}

.list-item {
  text-transform: uppercase;
  padding: 5px;
}

/* nav baner */
.nav-baner {
  margin: 0 auto;
  text-align: center;
}

/* main contents */
.wrapper {
  max-width: 1500px;
  margin: 5px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    'featuredMain featuredMain featuredSub '
    'contentMain contentMain contentSub'
}

.wrapper>.featured,
.wrapper>.sub-featured>div,
.wrapper>.main-content,
.wrapper>.main-sidebar {
  padding: 10px;
}

.featured {
  grid-area: featuredMain;
  min-height: 500px;
  background: url(images/arts-build-close-up-273230.jpg) no-repeat center center;
  background-size: cover;
  display: grid;
  justify-items: flex-end;
  align-items: flex-end;
  color: #fff;
}

.main-content,
.featured,
.sub-featured>div,
.main-sidebar {
  box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}

.sub-featured {
  grid-area: featuredSub;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  color: #fff;
}

.sub-featured h3 {
  margin-top: 0;
}

.sub1 {
  background: url(images/blur-cellphone-close-up-196644.jpg) no-repeat center center;
  background-size: cover;
}

.sub2 {
  background: url(images/ai-artificial-intelligence-blur-546819.jpg) no-repeat center center;
  background-size: cover;
}

.sub3 {
  background: url(images/blur-business-commerce-326514.jpg) no-repeat center center;
  background-size: cover;
}

.main-content {
  grid-area: contentMain;
  background-color: rgba(255, 255, 255, .35);
  color: #444;
  line-height: 1.5rem;
}

.main-sidebar {
  grid-area: contentSub;
  background-color: rgba(255, 255, 255, .35);
  color: #444;
  line-height: 1.5rem;
}

/* contact form */
.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 8px 0;
  border: 0;
  background: #b4cee7;
  padding: 15px 25px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
  font-size: 0.9rem;
  border-radius: 10px;
}

.contact-form-text:focus {
  box-shadow: 0px 0px 10px 4px #34495e;
}

textarea.contact-form-text {
  resize: none;
  height: 120px;
}

.contact-form-btn {
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.contact-form-btn:hover {
  background: #2980b9;
}

/* address map */
.map {
  margin: auto;
  max-width: 1500px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.co,
.bo {
  margin: 0 15px;
  text-align: center;
  font-size: 1.2rem;
}

.co span,
.bo span {
  display: inline-block;
  width: 60%;
  color: #fff;
  background-color: rgba(49, 46, 46, 0.4);
  border-radius: 10px;
  padding: 15px 0px;
  font-weight: bold;
}

.co iframe,
.bo iframe {
  width: 550px;
  height: 400px;
}

/* footer */
.footer {
  display: grid;
  margin: auto;
  grid-template-columns: minmax(20px, 400px) minmax(20px, 400px) minmax(20px, 400px) minmax(20px, 400px);
  justify-content: center;
  grid-template-rows: 1fr;
  background-color: rgba(49, 46, 46, 0.6);
  color: #fff;
  font-size: 1.1rem;
}

.footer>div {
  padding: 5px;
}

.footer .social-footer li {
  padding: 5px 0px;
}

.footer .social-footer a {
  text-decoration: none;
  color: #fff;
  padding: 25px 0px;
}

.copyright {
  max-width: 100%;
  margin: 0;
  padding: 20px;
  grid-column: 1/-1;
  text-align: center;
}

/* go  to top css */
.gotop{
  position: fixed;
  right: 20px;
  bottom: 65px;  
}
.gotop a{
  font-size:70px;
  display: block; 
  color: #fff;
}

/*　tablet css */
@media screen and (max-width:950px) {
  .wrapper {
    grid-template-areas:
      'featuredMain featuredMain featuredMain '
      'featuredSub featuredSub featuredSub'
      'contentMain contentMain contentSub'
  }

  .sub-featured {
    grid-template-columns: repeat(3, 1fr);
  }

  .nav-items {
    grid-column: 1/5;
    text-align: center;
  }

  .logo {
    grid-column: 1/5;
    text-align: center;
  }

  .nav-wrapper {
    margin-top: 0;
  }

}

/* phone css */
@media screen and (max-width:780px) {
  .logo {
    grid-column: 1/5;
  }

  .nav-items {
    grid-column: 1/5;
    text-align: center;
  }

  .burger-icon {
    display: inline-block;
    justify-self: end;
    grid-column: 1/5;
  }

  .mobile-show {
    display: block;
  }

  .mobile-hide {
    display: none;
  }

  .nav-wrapper li:nth-child(1) a:hover::before,
  .nav-wrapper li:nth-child(2) a:hover::before,
  .nav-wrapper li:nth-child(3) a:hover::before,
  .nav-wrapper li:nth-child(4) a:hover::before,
  .nav-wrapper li:nth-child(5) a:hover::before {
    left: -160px;
  }

  .nav-wrapper a:hover {
    color: #fff;
  }

  .video {
    display: none;
  }

  /*@burger menu change@ */
  .picture {
    max-width: 780px;
    height: 200px;
    background: url(images/blogging-business-coding-34140.jpg) no-repeat center;
    background-size: cover;
  }

  .wrapper {
    grid-template-areas:
      'featuredMain featuredMain featuredMain '
      'contentMain contentMain contentMain'
      'featuredSub featuredSub featuredSub'
      'contentSub contentSub contentSub'
  }

  .sub-featured {
    grid-template-columns: 1fr;
  }

  .co>iframe,
  .bo>iframe {
    width: 100%;
    height: 30vh;
  }

  .footer>div {
    grid-column: 1/-1;
  }

  .featured h1 {
    font-size: 30px;

  }
}